@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Registration</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/Index.css")
    
</head>

<body>

    <div class="main-box shadow">
        <h5 class="text-center">Quantum Solutions and Services</h5>
        <h6 class="text-center mb-3">Company Registration</h6>

        <div class="row">

            <!-- LEFT BUTTON MENU -->
            <div class="col-4 border-end">
                <button class="btn menu-btn" onclick="showRegister()">How to register</button>
                <button class="btn menu-btn" onclick="showReregister()">How to Re-register</button>
                <button class="btn menu-btn">Contact us</button>
            </div>

            <!-- RIGHT CONTENT AREA -->
            <div class="col-8">

                <!-- Default Text -->
                <div id="home">
                    <h5>Welcome</h5>
                    <p>Select a button from left menu.</p>
                    
                </div>

                <!-- Register Content -->
                <div id="register" class="content">
                    <h5>How to Register a Company</h5>
                    <ol>
                        <li>Choose company name</li>
                        <li>Register business address</li>
                        <li>Submit documents</li>
                        <button class="btn me-auto" onclick="registerForm  ()">Register Form</button>
                    </ol>
                </div>

                <!-- Re-register Content -->
                <div id="reregister" class="content">
                    <h5>How to Re-register a Company</h5>
                    <ol>
                        <li>Update company details</li>
                        <li>Upload new documents</li>
                        <li>Pay re-registration fee</li>
                    </ol>
                </div>

            </div>

        </div>
    </div>
    <script>
        function showRegister() {
            hideAll();
            document.getElementById("register").style.display = "block";
        }

        function showReregister() {
            hideAll();
            document.getElementById("reregister").style.display = "block";
        }
        function registerForm() {
            document.getElementById("registerForm").style.display = "block";
        }

        function hideAll() {
            document.getElementById("home").style.display = "none";
            document.getElementById("register").style.display = "none";
            document.getElementById("reregister").style.display = "none";
        }
    </script>


</body>
</html>

